<a href="https://colab.research.google.com/github/ahmedanzum23/python-basic/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter-2 (Variable and data types)**

In [ ]:
#Arethmatic operator
a=40
b=30
print(' the value of a+b is', 40+30)
print(' the value of a-b is', 40-30)
print(' the value of a*b is', 40*30)
print(' the value of a/b is', 40/30)

 the value of a+b is 70
 the value of a-b is 10
 the value of a*b is 1200
 the value of a/b is 1.3333333333333333

In [ ]:
#assignment operations
a=100
a+=20
a-=20
a *=2
a/=100

print(a)

2.0

In [ ]:
# **comparision**
a=14<7
b=14>7
c=14>=7
d=14<=7
e=14==14
f= 14!=7
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

False
True
True
False
True
True

In [ ]:
#logical operations
bol1= True
bol2= False
print('the result of booleans are ', bol1 and bol2)
print('the result of booleans are ', bol1 or bol2)
print('the result of booleans are ', not bol2)

the result of booleans are  False
the result of booleans are  True
the result of booleans are  True

In [ ]:
#type casting (convert one formet to another like string to int)
a='100'
a=int(a)
print(a+100)
print(type(a))
b=19101403
b=str(b)
print(b+'anzum')
print(type(b))
c=2
c=float(c)
print(c+4)
print(type(c))

200
<class 'int'>
19101403anzum
<class 'str'>
6.0
<class 'float'>

In [ ]:
#input 
a=input('enter your name please  :', )
a=int(a) #connvert string to int 
print(a)

enter your name please  :4
4

### *Problem solving for variable and data type*

In [ ]:
#problem solving part-1 for variable and data type chapter

#write a programe for add two number

a=input('enter your first number')
a=int(a)
b=input('enter your second number')
b=int(b)
print('Result of your number is :', a+b)

enter your first number10
enter your second number10
Result of your number is : 20

In [ ]:
#p-2
#find a reminder when number is divided by 2
a=10
b=20
number=(a%b)
print("so the reminder is", number)


#p-3
#find a comparision between a is greater then b or not , assume a=34 b=80
a=34
b=80
print('The result of a is :', a>b)


#p-3
#calculate the square of a number enter by the user
a=input('enter your number')
a=int(a)

calculate=a**a
print('the result is :', calculate)

so the reminder is 10
The result of a is : False
enter your number2
the result is : 4

## **(Chapter-3 string)**

Slicing

In [ ]:
name='anzum'
print(name[0:5]) 
print(name[1:5])
print(name[:5])
print(name[1:])
print(name[-5:-1])
a='ahnafKhan'
print(a[:5:-1])

anzum
nzum
anzum
nzum
anzu
nah

String function

In [ ]:
story='my name is ahnaf ahmed anzum. I am a superstar'
print(len(story))
print(story.endswith('superstar'))
print(story.count('a'))
print(story.capitalize()) #just sentence first word
print(story.find('name'))
print(story.replace('anzum' ,'roktim'))

46
True
8
My name is ahnaf ahmed anzum. i am a superstar
3
my name is ahnaf ahmed roktim. I am a superstar

Escape sequence

In [ ]:
s='my name is ahnaf ahmed anzum. \nI am a student of university and \t i am an engineering student. \I am studying in CSE'
print(s)

my name is ahnaf ahmed anzum.
I am a student of university and 	 i am an engineering student. \I am studying in CSE

### ***Chapter-4 List and Tupples***

In [ ]:
a=[1,2,3,4,5,6]
print(a)
print(a[2])
a[1]=50
print(a)
#list can be any type of 
b=['anzum', False,True, 87,]
print(b)

[1, 2, 3, 4, 5, 6]
3
[1, 50, 3, 4, 5, 6]
['anzum', False, True, 87]

List_sort

In [ ]:
#rsort
a=[20,50,60,10,12,5]
a.sort()
print(a)
#reverse
a.reverse()
print(a)
#append(end of a list)
a.append(100)
print(a)

#insert (start from first of a list and insert at the beganning)
a.insert(0,200)
print(a)

#pop (delete from index number)
a.pop(2)
print(a)

#remove(remove any number randomly)
a.remove(200)
print(a)

[5, 10, 12, 20, 50, 60]
[60, 50, 20, 12, 10, 5]
[60, 50, 20, 12, 10, 5, 100]
[200, 60, 50, 20, 12, 10, 5, 100]
[200, 60, 20, 12, 10, 5, 100]
[60, 20, 12, 10, 5, 100]

**Tupple()**

In [ ]:
a=(10,20,30,40,50,30,50)
print(a[2])
#we can not change anything in inside the tupple

print(a.count(30)) #how many time 30 are
print(a.index(40)) #index number of 40

30
2
3

*Practice problem of list*

In [ ]:
#store 7 fruits in a list enter by the user
a1=input('enter your fruit number')
a2=input('enter your fruit number')
a3=input('enter your fruit number')
a4=input('enter your fruit number')
a5=input('enter your fruit number')
a6=input('enter your fruit number')
a7=input('enter your fruit number')
my_food=[a1,a2,a3,a4,a5,a6,a7]
print(my_food)

enter your fruit numberapple
enter your fruit numberorange
enter your fruit numbermango
enter your fruit numberbanana
enter your fruit numberjackfruit
enter your fruit numberlichi
enter your fruit numberdragon fruit
['apple', 'orange', 'mango', 'banana', 'jackfruit', 'lichi', 'dragon fruit']

In [ ]:
#accept marks of a four student and display them in sorted manner
marks1=int(input('enter your first marks'))
marks2=int(input('enter your second marks'))
marks3=int(input('enter your third marks'))
marks4=int(input('enter your fourth marks'))

display=[marks1,marks2,marks3,marks4]
display.sort()
print(display)

enter your first marks7
enter your second marks4
enter your third marks0
enter your fourth marks45
[0, 4, 7, 45]

In [ ]:
#sun a list with 4 number
marks1=int(input('enter your first marks'))
marks2=int(input('enter your second marks'))
marks3=int(input('enter your third marks'))
marks4=int(input('enter your fourth marks'))

display=[marks1+marks2+marks3+marks4]

print(sum(display))

enter your first marks5
enter your second marks5
enter your third marks5
enter your fourth marks5
20

In [1]:
#find number of zero's from tupple (7,0,0,8,0,9)
a=(7,0,0,8,0,9)
print(a.count(0))

3