<a href="https://colab.research.google.com/github/ahmedanzum23/python-basic/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter-2 (Variable and data types)**

In [ ]:
#Arethmatic operator
a=40
b=30
print(' the value of a+b is', 40+30)
print(' the value of a-b is', 40-30)
print(' the value of a*b is', 40*30)
print(' the value of a/b is', 40/30)

 the value of a+b is 70
 the value of a-b is 10
 the value of a*b is 1200
 the value of a/b is 1.3333333333333333

In [ ]:
#assignment operations
a=100
a+=20
a-=20
a *=2
a/=100

print(a)

2.0

In [ ]:
# **comparision**
a=14<7
b=14>7
c=14>=7
d=14<=7
e=14==14
f= 14!=7
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

False
True
True
False
True
True

In [ ]:
#logical operations
bol1= True
bol2= False
print('the result of booleans are ', bol1 and bol2)
print('the result of booleans are ', bol1 or bol2)
print('the result of booleans are ', not bol2)

the result of booleans are  False
the result of booleans are  True
the result of booleans are  True

In [ ]:
#type casting (convert one formet to another like string to int)
a='100'
a=int(a)
print(a+100)
print(type(a))
b=19101403
b=str(b)
print(b+'anzum')
print(type(b))
c=2
c=float(c)
print(c+4)
print(type(c))

200
<class 'int'>
19101403anzum
<class 'str'>
6.0
<class 'float'>

In [ ]:
#input 
a=input('enter your name please  :', )
a=int(a) #connvert string to int 
print(a)

enter your name please  :4
4

### *Problem solving for variable and data type*

In [ ]:
#problem solving part-1 for variable and data type chapter

#write a programe for add two number

a=input('enter your first number')
a=int(a)
b=input('enter your second number')
b=int(b)
print('Result of your number is :', a+b)

enter your first number10
enter your second number10
Result of your number is : 20

In [ ]:
#p-2
#find a reminder when number is divided by 2
a=10
b=20
number=(a%b)
print("so the reminder is", number)


#p-3
#find a comparision between a is greater then b or not , assume a=34 b=80
a=34
b=80
print('The result of a is :', a>b)


#p-3
#calculate the square of a number enter by the user
a=input('enter your number')
a=int(a)

calculate=a**a
print('the result is :', calculate)

so the reminder is 10
The result of a is : False
enter your number2
the result is : 4

## **(Chapter-3 string)**

Slicing

In [ ]:
name='anzum'
print(name[0:5]) 
print(name[1:5])
print(name[:5])
print(name[1:])
print(name[-5:-1])
a='ahnafKhan'
print(a[:5:-1])

anzum
nzum
anzum
nzum
anzu
nah

String function

In [ ]:
story='my name is ahnaf ahmed anzum. I am a superstar'
print(len(story))
print(story.endswith('superstar'))
print(story.count('a'))
print(story.capitalize()) #just sentence first word
print(story.find('name'))
print(story.replace('anzum' ,'roktim'))

46
True
8
My name is ahnaf ahmed anzum. i am a superstar
3
my name is ahnaf ahmed roktim. I am a superstar

Escape sequence

In [ ]:
s='my name is ahnaf ahmed anzum. \nI am a student of university and \t i am an engineering student. \I am studying in CSE'
print(s)

my name is ahnaf ahmed anzum.
I am a student of university and 	 i am an engineering student. \I am studying in CSE

### ***Chapter-4 List and Tupples***

In [ ]:
a=[1,2,3,4,5,6]
print(a)
print(a[2])
a[1]=50
print(a)
#list can be any type of 
b=['anzum', False,True, 87,]
print(b)

[1, 2, 3, 4, 5, 6]
3
[1, 50, 3, 4, 5, 6]
['anzum', False, True, 87]

List_sort

In [ ]:
#rsort
a=[20,50,60,10,12,5]
a.sort()
print(a)
#reverse
a.reverse()
print(a)
#append(end of a list)
a.append(100)
print(a)

#insert (start from first of a list and insert at the beganning)
a.insert(0,200)
print(a)

#pop (delete from index number)
a.pop(2)
print(a)

#remove(remove any number randomly)
a.remove(200)
print(a)

[5, 10, 12, 20, 50, 60]
[60, 50, 20, 12, 10, 5]
[60, 50, 20, 12, 10, 5, 100]
[200, 60, 50, 20, 12, 10, 5, 100]
[200, 60, 20, 12, 10, 5, 100]
[60, 20, 12, 10, 5, 100]

**Tupple()**

In [ ]:
a=(10,20,30,40,50,30,50)
print(a[2])
#we can not change anything in inside the tupple

print(a.count(30)) #how many time 30 are
print(a.index(40)) #index number of 40

30
2
3

*Practice problem of list*

In [ ]:
#store 7 fruits in a list enter by the user
a1=input('enter your fruit number')
a2=input('enter your fruit number')
a3=input('enter your fruit number')
a4=input('enter your fruit number')
a5=input('enter your fruit number')
a6=input('enter your fruit number')
a7=input('enter your fruit number')
my_food=[a1,a2,a3,a4,a5,a6,a7]
print(my_food)

enter your fruit numberapple
enter your fruit numberorange
enter your fruit numbermango
enter your fruit numberbanana
enter your fruit numberjackfruit
enter your fruit numberlichi
enter your fruit numberdragon fruit
['apple', 'orange', 'mango', 'banana', 'jackfruit', 'lichi', 'dragon fruit']

In [ ]:
#accept marks of a four student and display them in sorted manner
marks1=int(input('enter your first marks'))
marks2=int(input('enter your second marks'))
marks3=int(input('enter your third marks'))
marks4=int(input('enter your fourth marks'))

display=[marks1,marks2,marks3,marks4]
display.sort()
print(display)

enter your first marks7
enter your second marks4
enter your third marks0
enter your fourth marks45
[0, 4, 7, 45]

In [ ]:
#sun a list with 4 number
marks1=int(input('enter your first marks'))
marks2=int(input('enter your second marks'))
marks3=int(input('enter your third marks'))
marks4=int(input('enter your fourth marks'))

display=[marks1+marks2+marks3+marks4]

print(sum(display))

enter your first marks5
enter your second marks5
enter your third marks5
enter your fourth marks5
20

In [ ]:
#find number of zero's from tupple (7,0,0,8,0,9)
a=(7,0,0,8,0,9)
print(a.count(0))

3

### ***Chapter-5 (Dictanory)***

In [ ]:
a={ "name":"Ahnaf Ahmed Anzum",
     "id" :"19101403",
    "section":"05",
    'marks':[5,7,8,10,12,15]

}

b={
    
    'name':"ahnaf ahmed roktim",
    'id'  :'22341086',
    'section':"science-b",
    'robot': {'2.50' : 'oktim'}
}
print(a['id'])
print(a['marks'])
print(b['section'])
print(b['robot']['2.50'])
#we can change the dictanory also

a['marks']=[400,500]
print(a['marks'])

19101403
[5, 7, 8, 10, 12, 15]
science-b
oktim
[400, 500]

In [ ]:
# dictanory other values 

#key values
a={
    'movie': 'name:tytanic',
    'genre':'romantic',
    'release':'1999',
    'status':'successful',
     100:200
}

print(a.keys())
#type of dic
print(type(a))

#convert dictanory to list
print(list(a))
print(list(a.keys()))

#print the values
print(a.values())

#print the items
print(a.items())


#print update the dictanory

updateDic={
    'langauge ': 'English',
    'movie' : 'Titanic'
}
a.update(updateDic)
print(a)

dict_keys(['movie', 'genre', 'release', 'status', 100])
<class 'dict'>
['movie', 'genre', 'release', 'status', 100]
['movie', 'genre', 'release', 'status', 100]
dict_values(['name:tytanic', 'romantic', '1999', 'successful', 200])
dict_items([('movie', 'name:tytanic'), ('genre', 'romantic'), ('release', '1999'), ('status', 'successful'), (100, 200)])
{'movie': 'Titanic', 'genre': 'romantic', 'release': '1999', 'status': 'successful', 100: 200, 'langauge ': 'English'}

In [ ]:
#get vs []
a= {'movie': 'name:tytanic',
    'genre':'romantic',
    'release':'1999',
    'status':'successful',
     100:200
}
print(a.get('movie'))

name:tytanic

Sets in Dictanory

In [ ]:
a={10,20,30,40,50,50}
print(type(a))
print(a) #set doest not allow repeatative values of print a


#empty dictanory
c={}
print(c)
print(type(c))

#empty set 
b=set()
print(b)

b.add(8)
b.add(9)
b.add(10)
#can not add list  on sets
   #b.add([10,20,30])
#you can add list on tupple
b.add((10,20,30,40))
# you can not dictanory on set
  #b.add({5:10})
print(b)

<class 'set'>
{40, 10, 50, 20, 30}
{}
<class 'dict'>
set()
{8, 9, 10, (10, 20, 30, 40)}

more set methods

In [ ]:
e={10,20,30,40,50,60}
print(e)
(e.remove(60))
print(e)
e.pop() #remove any rendom number
print (e)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 30}
{10, 50, 20, 30}

*Practice  dectaniory*

In [ ]:
#see you letter

## ***Chapter-6(condition)***

In [ ]:
a=100
if(a>50):
  print('a is greater then 90')
elif(a>90):
  print(' the value of a is also greater then a')
else:
    print('the value is picccih forever')

a is greater then 90

In [ ]:
a=100
if(a>50):
  print('a is greater then 90')
if(a>90):
  print(' the value of a is also greater then a')
elif(a>95):
  print(' the value is also 95 which is greater then 95')  
else:
    print('the value is picccih forever')

a is greater then 90
 the value of a is also greater then a

In [ ]:
a=int(input('enter your age bro'))
if (a>18):
  print('you are adult')
else:
  print('You are peccih baccah')

enter your age bro17
You are peccih baccah

In [ ]:
#logical and relational operations
ok=int(input('enter your age please '))
if (ok<50 and ok <60):
  print('you are pass some how man')
else:
  print('you are failled man')

enter your age please 55
you are failled man

In [ ]:
#logical and relational operations
ok=int(input('enter your age please '))
if (ok<50 or ok <60):
  print('you are pass some how man')
else:
  print('you are failled man')

enter your age please 55
you are pass some how man

In [ ]:
#in is 

a=None
if(a is None):
  print(a)
else:
   print('you are laier') 


b=[10,20,30,40,50]
print(10 in b)

None
True

**Practice exersice on Conditional**

In [ ]:
#take 4 input from the user and find the Greatest number among 4 number

num1=int(input('enter your first number'))
num2=int(input('enter your second number'))
num3=int(input('enter your Third number'))
num4=int(input('enter your Fourth number'))

if (num1>num4):
  f1=num1
else:
  f1=num4
if(num2>num3):
  f2=num2
else:
  f2=num3
if(f1>f2):
  print(str(f1)+ ' is a greatest number')
else:
  print(str(f2)+ ' is a greatest number')

enter your first number20
enter your second number30
enter your Third number40
enter your Fourth number50
50 is a greatest number

In [ ]:
#input 3 subject number , every subjet number must be more then 33 otherwise failled and avaerage of 3 number must be more then 40% other wise failed, after fullfilled two conditions you are passed


num1=int(input('enter your first number'))
num2=int(input('enter your second number'))
num3=int(input('enter your Third number'))

if(num1<33 or num2<33 or num3<33):

  print(' you are failed because your marks less then 33')

elif(num1+num2+num3)/3<40:
  print('you are failed your marks is less then 40%')

else:
  print('Congratulations !  you have passed successfully ')

enter your first number35
enter your second number35
enter your Third number35
you are failed your marks is less then 40%

In [ ]:
# make a programe related spam and do the job

text=input('enter your number')

if('i am anzum' in text):
  enter=True
elif('i am a superstar' in text):
  enter=True
elif('i live in Dhaka' in text):
  enter=True

else:
   spam=False
   print(' your input number is false')

if(enter):
  print('this is a spam')
else:
 print('this is not a spam')

enter your numberi am anzum
this is a spam

In [ ]:
#write e programe that given charecter is more then 10 or not

a=("ahnafahmedanzum")
a=str(a)
if(a==10):
  print('word is less then 10')
else:
  print('word is more  then 10')

word is more  then 10

In [ ]:
#write a programe that enter number is present in the list or not
a=[10,20,30,40,50,60]
b=int(input('enter your number'))

if (b in a):
  print('your enter number is present')
else:
  print('your enter number is not present')

enter your number40
your enter number is present

In [ ]:
#write e  programe enter greeding system of Brac university

number=int(input('enter your marks'))

if(90>=number):
    print(" your desire Grade is good A" )    

elif(80>=number):
    print(" your desire Grade is B" )    
elif(70>number):
    print(" your desire Grade is c" )    

elif(60>number):
    print(" your desire Grade is D" )    


elif(50>number):
    print(" your desire Grade is E" ) 

else:
    print(" your desire Grade is F" )

enter your marks55
 your desire Grade is good A

# ***Chapter 7 (loop)***

**While Loop**

In [ ]:
i=0
while(i<=5):
  print('i am anzum')
  i=i+1

i am anzum
i am anzum
i am anzum
i am anzum
i am anzum
i am anzum

In [ ]:
name=['anzum',"roktim", 'shazin', 'shornab', 'star']
i=0
while(i<len(name)):
  print(name[i])
  i=i+1

anzum
roktim
shazin
shornab
star

**For loop**

In [ ]:
name=['anzum',"roktim", 'shazin', 'shornab', 'star']
for item in name:
   print(item)

anzum
roktim
shazin
shornab
star

*Range function in for loop*

```
```

In [ ]:
for i in range(1,5):
 print(i)

print(' my name is space')

for i in range(8):
   print(i)

1
2
3
4
 my name is space
0
1
2
3
4
5
6
7

Break Statement

In [ ]:
for i in range(9):
 print(i)
 if(i==5):
  break

else:
  print('our break is done successfully')

0
1
2
3
4
5

*Continue*

In [ ]:
for i in range(9):
 
 if(i==5):
  continue
  print(i)

else:
  print('our break is done successfully')

our break is done successfully

Pass statement

In [ ]:
i=0
if(0<4):
  pass

  print('pass use korle mane hocceh stop baki kiso print hobe nah')

pass use korle mane hocceh stop baki kiso print hobe nah

***Loop Practice***

In [ ]:
# write e programe for multiplications


#first way to solve the problem
a=int(input('enter your number please kindly'))
for i in range(1,11):
 #print(str(a)+'x'+ str(i)+  '='  +str(i*a)) 



 #second way to how we solve multiplication problem
 print(f"{a}x{i}={a*i}")

enter your number please kindly5
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [ ]:
# check your name is the list or not usisng loop 


l='anzum' ,'ahnaf', 'ahmed', 'roktim', 'sharon'
for name in l:
  if name.startswith('a'):
    print('hello world i am' +'' +name)

hello world i amanzum
hello world i amahnaf
hello world i amahmed

In [ ]:
#check it is prime number or not 

num =int(input('please enter your number'))
prime=True
for i in range(2, num):
   if(num%i==0):
    prime=False
    break
    if prime:
      print('this number is  prime')
    else:
        print('this number is not prime')

please enter your number100

In [ ]:
#factorial number 

#5!=1*2*3*4*5

num=int(input('please enter your number'))
factorial=1
for i in range(1, num+1):
  factorial=factorial*i
print(f"the number of factorial is {factorial}")

please enter your number4
the number of factorial is 24

In [ ]:
# *
# **
# ***  

n=4
for i in range(4):
   print('*' * (i+1))

*
**
***
****

***Chapter-8 (Function and Recursion)***

In [ ]:
def great(name):
  print('my name is ' + name)
 
def age(num1,num2):
   return num1+num2

great('ahnaf')
ok=age(11,12)
print(ok)

my name is ahnaf
23

Default peramitter value

In [ ]:
def great(name=' roktim'):
  print('my name is ' + name)

great('ahnaf')
great()

my name is ahnaf
my name is  roktim

factorial with function

In [ ]:
def factorialfunction(n):
  product=1
  for i in range (n):
    product=product*(i+1)
    return product

    f=factorialfunction(0)
    print(f)

**function practice**

In [ ]:
def maximum(num1, num2, num3):
    if (num1>num2):
        if(num1>num3):
            return num1
        else:
            return num3
    else:
        if(num2>num3):
            return num2
        else:
            return num3

m = maximum(13, 55, 2)
print("The value of the maximum is " + str(m))

The value of the maximum is 55

In [ ]:
# Celsius to Fahrenheit Converter
#F=(C9/5)+32

def farh(cel)